@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgb(48, 46, 46);
    background-image: url(https://4.bp.blogspot.com/-dr6MLCRRb2c/TwcNPdn6jUI/AAAAAAAADU4/xqy_0D9xARs/s640/Escudo_Riber_Plate.jpg);
    background-size: cover;
}
.container {
    background-color: black;
}

h1 {
    color: white;
    font-size: 50px;
    background-color: tomato;
}

p {
    color: white;
    text-transform: uppercase;
}
h2 {
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-align: center;

}
h3 {
    color: white;
    text-transform: uppercase;
}
.m-pases{
    border: 2px solid red;
    text-align: center;
    width: 50%;
}
h4 {
    color: white;
    text-transform: uppercase;
}
.container {
    text-align: center;
}
.noticias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.noticias .noticias-art {
    background-color: black;
    text-align: center;
   
}
.seccionCopas {
    text-align: center;
    border-radius: 2px black;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 38, 38);
}
.articleCopas {
    background-color: black;
    padding: 2rem 0rem;
}

.tableLali {
    background-color: black;
    color: white;
    width: 60%;
    padding: 0%;
    margin-left: 10rem;
       
}
.table {
    background-color: white;
    margin-top: 0%;
    padding: 0rem 2rem;
}
h3 {
    padding: 1rem 0rem;
}
.container2{
    width: 300px;
    height: 200px;
}
.item1 {
    background-color: rgb(116, 43, 43);
    border-radius: 3px;
    
}
.nombreTabla {
    border: 2px dashed black;
    width: 90%;
    margin-left: 2rem;
    margin-top: 40px;
    
}
.formulario {
    background-color: black;
    color: wheat;
    border: 2px solid white;
    margin: 2rem 5rem;
    text-align: center;
}
.nomForm {
    border: 2px solid rgb(2, 2, 2);
}
.mainSocios {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.pe {
     color: black;
     text-align: justify;
     background-color: greenyellow;
}
.table {
     background-color: black;
     
  }
  .header {
      width: auto;
  }
/*mediaquaries*/
@media (min-width: 576px){
    body{
        background-color: rgb(119, 118, 118);
        display: flex;
        flex-wrap: wrap;
        text-transform: capitalize;
        
    }
    aside{
        background-color: brown;
        border: 1px dashed black;
    }

}
@media (min-width: 992px){
    body{
        background-color: rgb(165, 164, 164);
        
    }
        
}
@media (min-width: 1200px){
    body {
        background-color: rgb(48, 46, 46);
        
    }
}
    




/*tranformaciones*/

.container2{
    width: 70%;
    height: 70%;
    background-color: rgb(116, 43, 43);
}
.item1 {
    background-color: rgb(116, 43, 43);
    border-radius: 3px;
    pad: 0 10%;
}
.item1:hover {
    transform: translateX(25%);
    translate: 2s;
    
}

img:hover {
    transform: scale(1.1);
}


/*# sourceMappingURL=style.css.map */
